/*Universal selector */ 
* {
  
}  

body {
    margin: 0;
    font-family: 'Luminari';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    text-align: left;
    background-color: #ffffff
}

.home-logo {

    padding-right: 30px;
}

.navbar {

    background-color: transparent;


}


#mainpagecontent {

    background-color: black;
    height: 1080px;
 
}

#footersection {

    background-color: rgba(0, 0, 0, 0.896);
    color: #646566;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.684);
}

footer .copyright {

    padding: 2rem;
}

.terms-policy-lang {

    padding-bottom: 1rem;
}

 .terms-policy-lang a {

    color: #646566;
}

h1, h2, p {
    color: #ffffff;
}

h1, h2 {
    padding: 1em 0em 1em 0em;
}


