#mainpagecontent {
    background-color: black;
    min-height: 900px;
    padding-top: 7.5rem;
}

h1,
h2,
h3,
h4,
h5,
p {
    color: #ffffff;
}

#mainpagecontent h1 {
    padding-top: 2rem;
}

/* nav styles */

.navbar {
    --bs-navbar-padding-y: 0rem;
}

.navbar-dark .container {
    background-color: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.684);
}

.navbar-nav .nav-item {
    font-size: 1.1rem;
}

/* end nav styles */

#footersection {
    background-color: rgba(0, 0, 0, 0.896);
    color: #646566;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.684);
}

footer .copyright {
    padding: 2rem;
}

.terms-policy-lang {
    padding-bottom: 1rem;
}

.terms-policy-lang a {
    color: #646566;
}
